* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: block;
    position: relative;
    width: 1212px;
    margin: 0 auto;
}

//reusable blocks
@import 'blocks/menu';
@import 'blocks/progress';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/divider';
@import 'blocks/description';
@import 'blocks/accordion';
@import 'blocks/cards-with-hover';

//parts of site
@import 'parts_of_site/banner';
@import 'parts_of_site/header';
@import 'parts_of_site/about-us';
@import 'parts_of_site/achievements';
@import 'parts_of_site/services';
@import 'parts_of_site/unique-design';
@import 'parts_of_site/what-we-do';
@import 'parts_of_site/quotes';
@import 'parts_of_site/our-team';
@import 'parts_of_site/some-logos';
@import 'parts_of_site/our-works';
@import 'parts_of_site/feedbacks';