.desciption {
    display: block;
    margin: 0 auto;
    width: 955px;
    margin-bottom: 100px;
    
    //text
    color: #999999;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}