.subtitle {
    color: #333333;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 42px;
}