.subtitle {
    color: #333333;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 42px;
    &_feedback-block {
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        text-align: left;
        font-style: italic;
        margin-bottom: 17px;
    }
}