.title {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 23px;
    &_feedback-block {
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        margin-bottom: 15px;
    }
}