.about-us {
    padding-top: 91px;
    padding-bottom: 110px;
    background-color: #fff;
    &__wrapper-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper-bgImage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 250px;
        transition: 0.3s all;
    }
    &__hover-image-team {
        max-width: 32px;
        max-height: 32px;
        margin-bottom: 11px;
    }
    &__hover-text {
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
    }
}